<footer class="footer bg-black text-white pt-5 pb-3">
  <div class="container">
    <div class="row">

      <!-- ABOUT -->
      <div class="col-md-4">
        <h5 class="footer-title">ABOUT</h5>
        <ul class="list-unstyled">
          <li><a (click)="goToAbout()">About Us</a></li>
          <li><a (click)="goToContact()">Contact Us</a></li>
          <li><a (click)="goToTermsOfService()">Terms of Service</a></li>
          <li><a (click)="goToPrivacyPolicy()">Privacy Policy</a></li>
          <li><a (click)="goToReturnRefund()">Return & Refund Policy</a></li>
          <li><a (click)="goTosubscription()">Subscription</a></li>
        </ul>
      </div>

      <!-- SUPPORT -->
      <div class="col-md-4">
        <h5 class="footer-title">SUPPORT</h5>
        <ul class="list-unstyled">
          <li><a href="#">Feedback</a></li>
          <li><a href="#">Media & Public Relations</a></li>
        </ul>
      </div>

    </div>

    <!-- COPYRIGHT -->
    <div class="text-center mt-4 copyright">
      Copyright ©2025 Learnovate Innovations Pvt. Ltd., All Rights Reserved.
    </div>

  </div>
</footer>